<a href="https://colab.research.google.com/github/juliensky/DS-Unit-1-Sprint-2-Statistics/blob/master/DS12_123_Introduction_to_Bayesian_Inference_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science Module 123

## Introduction to Bayesian Inference

## Assignment - Code it up!

We used pure math to apply Bayes Theorem to drug tests. Now write Python code to reproduce the results! This is purposefully open ended - you'll have to think about how you should represent probabilities and events. You can and should look things up.

Specific goals/targets:

### 1) Write a function 

`def prob_drunk_given_positive(prob_drunk_prior, false_positive_rate):` 

You should only truly need these two values in order to apply Bayes Theorem. In this example, imagine that individuals are taking a breathalyzer test with an 8% false positive rate, a 100% true positive rate, and that our prior belief about drunk driving in the population is 1/1000. 
 - What is the probability that a person is drunk after one positive breathalyzer test?
 - What is the probability that a person is drunk after two positive breathalyzer tests?
 - How many positive breathalyzer tests are needed in order to have a probability that's greater than 95% that a person is drunk beyond the legal limit?

### 2) Explore `scipy.stats.bayes_mvs`  
Read its documentation, and experiment with it on data you've tested in other ways earlier this week.
 - Create a visualization comparing the results of a Bayesian approach to a traditional/frequentist approach. (with a large sample size they should look close to identical, however, take this opportunity to practice visualizing condfidence intervals in general. The following are some potential ways that you could visualize confidence intervals on your graph:
  - [Matplotlib Error Bars](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.errorbar.html)
  - [Seaborn barplot with error bars](https://seaborn.pydata.org/generated/seaborn.barplot.html)
  - [Vertical ines to show bounds of confidence interval](https://www.simplypsychology.org/confidence-interval.jpg)
  - [Confidence Intervals on Box Plots](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.axes.Axes.boxplot.html)

### 3) In your own words, summarize the difference between Bayesian and Frequentist statistics

If you're unsure where to start, check out [this blog post of Bayes theorem with Python](https://dataconomy.com/2015/02/introduction-to-bayes-theorem-with-python/).

In [14]:
# TODO - code!

#1 True Positive Rate 100%
true_positive_rate = 1

#2 Prior Probability (1/200)
prob_drunk_prior = 1/1000

#3 False Positive Rate 1%
false_positive_rate = .08

p_nonuser = 1 - prob_drunk_prior

prob_drunk_given_positive = (true_positive_rate*prob_drunk_prior) / ((true_positive_rate*prob_drunk_prior) + (false_positive_rate*p_nonuser))


print(prob_drunk_given_positive)

0.012357884330202669

In [0]:

true_positive_rate = 2

prob_drunk_prior = 1/1000

false_positive_rate = .08

p_nonuser = 1 - prob_drunk_prior

prob_drunk_given_positive = (true_positive_rate*prob_drunk_prior) / ((true_positive_rate*prob_drunk_prior) + (false_positive_rate*p_nonuser))

In [19]:
print(prob_drunk_given_positive)

0.0244140625

In [22]:

true_positive_rate = 1700

prob_drunk_prior = .001

false_positive_rate = .08

p_nonuser = 1 - prob_drunk_prior

prob_drunk_given_positive = (true_positive_rate*prob_drunk_prior) / ((true_positive_rate*prob_drunk_prior) + (false_positive_rate*p_nonuser))

print(prob_drunk_given_positive)

0.9550991055777788

In [10]:
import pandas as pd
import seaborn as sns

url = 'https://github.com/fivethirtyeight/data/blob/master/scrabble-games/scrabble_games.csv?raw=true'
df2 = pd.read_csv(url)

df2

          gameid  tourneyid    tie  ...  division        date  lexicon
0              1          1  False  ...         1  1998-12-06    False
1              2          1  False  ...         1  1998-12-06    False
2              3          1  False  ...         1  1998-12-06    False
3              4          1  False  ...         1  1998-12-06    False
4              5          1  False  ...         1  1998-12-06    False
...          ...        ...    ...  ...       ...         ...      ...
1542637  1823779       3021  False  ...         3  1994-09-17    False
1542638  1823780       3021  False  ...         3  1994-09-17    False
1542639  1823781       3021  False  ...         3  1994-09-17    False
1542640  1823782       3021  False  ...         3  1994-09-17    False
1542641  1823783       3021  False  ...         3  1994-09-17    False

[1542642 rows x 19 columns]

In [27]:
df2 = df2[['loseroldrating', 'losernewrating']]
df2.drop_duplicates().values.tolist()
df2.astype(int)

         loseroldrating  losernewrating
0                  1915            1872
1                  1840            1798
2                  1622            1606
3                  1612            1600
4                  1537            1590
...                 ...             ...
1542637               0             771
1542638               0             771
1542639            1150            1111
1542640             739             724
1542641               0             510

[1542642 rows x 2 columns]

In [28]:
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt


def confidence_interval(data, confidence=.95):
  n = len(data)
  mean = sum(data)/n
  data = np.array(data)
  stderr = stats.sem(data)
  interval = stderr * stats.t.ppf((1 + confidence) / 2.0, n-1)
  return (mean, mean-interval, mean+interval)

confidence_interval(df2)

TypeError: ignored

In [29]:
bayesian_confidence_interval, _, _ = stats.bayes_mvs(df2, alpha=.95)

print(bayesian_confidence_interval)

Mean(statistic=1261.4260223694155, minmax=(1260.9435881649426, 1261.9084565738883))

In [32]:
import matplotlib.pyplot as plt

df2.errorbar(x, y)

AttributeError: ignored

## Resources

- [Worked example of Bayes rule calculation](https://en.wikipedia.org/wiki/Bayes'_theorem#Examples) (helpful as it fully breaks out the denominator)
- [Source code for mvsdist in scipy](https://github.com/scipy/scipy/blob/90534919e139d2a81c24bf08341734ff41a3db12/scipy/stats/morestats.py#L139)

## Stretch Goals:

- Go back and study the content from Modules 1 & 2 to make sure that you're really comfortable with them.
- Apply a Bayesian technique to a problem you previously worked (in an assignment or project work) on from a frequentist (standard) perspective
- Check out [PyMC3](https://docs.pymc.io/) (note this goes beyond hypothesis tests into modeling) - read the guides and work through some examples
- Take PyMC3 further - see if you can build something with it!